body {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color: #666666; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

header {
    font-family: Helvetica, Verdana;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #666666;
    height: 32px;
    color: #AAA;
}

h1 {
    vertical-align: middle;
    position: relative;
    font-style: normal;
    font-size: 26px;
    margin: 0 1.5rem 0 0.9375rem;
    float: left;
}

h2, h3 {
/*    width: 100%; */
    justify-content: center;
    /* display: flex; */
}

h2 {
    font-style: italic;
}

#bloc_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.default_card {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    width: 320px;
    height: 225px;
    position: relative;
    display: inline-block;
    margin-left:3%;
    margin: 15px;
}

.front {
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 2px grey;
    box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}

.back {
    background-color: #DCDCDC;
    text-align: center;
    border: solid 2px grey; 
    box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(-180deg);
    transition: all 0.5s ease-out 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}
